[submodule "lib/js/jquery-ui"]
	path = lib/js/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "lib/css/bootstrap"]
	path = lib/css/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/fonts/font-awesome"]
	path = lib/fonts/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/js/respond"]
	path = lib/js/respond
	url = https://github.com/scottjehl/Respond.git
