[submodule "js/jquery-ui"]
	path = js/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "js/cycle"]
	path = js/cycle
	url = https://github.com/malsup/cycle.git
[submodule "css/bootstrap"]
	path = css/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "fonts/font-awesome"]
	path = fonts/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
